.container {
    background-color: red;
    height: 21rem;
    width: 23rem;
    padding: .7rem;
}

.calc-content{
    display: flex;
    flex-direction: column;
}

.calc-screen {
    padding: 1rem;
    background-color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}