.container {
    background-color: red;
    height: 21rem;
    width: 23rem;
}

.calc-content{
    display: flex;
    flex-direction: column;
}

.calc-screen {
    padding: .5rem;
    background-color: rgb(255, 197, 197);
    font-weight: 500;
    font-size: 2.2rem;
}

.calc-btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(241, 166, 166);
}

.calc-btns button {
    padding: .96rem;
}

.item0 {
    grid-column: 1 / span 2;
    grid-row: 5;
}